:root {
  --white-color: #f5f5f5;
  --dark-color: #0000;
  --primary-color: #ff5700;
  --secondary-color: #16a738;

  --font-size-vs: 0.55rem;
  --font-size-s: 0.6rem;
  --font-size-m: 0.75rem;
  --font-size-n: 1rem;
  --font-size-ml: 1.3rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 1.7rem;
  --font-size-xxl: 2rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  --site-max-width: 1300px;
}

* {
  margin: 0;
  padding: 0;
}

.page {
  background-image: url(../../assets/Images/background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  padding-bottom: 30px;
}

.logo {
  align-items: center;
  padding: 5px 0 15px;
}

.logo > img {
  display: block;
  margin: auto;
  align-items: center;
  width: 55%;
}

.container {
  display: flex;
  -webkit-box-pack: justify;
  flex-wrap: wrap;
}

.title {
  height: 4px;
  width: 50px;
  margin: 1px auto 0;
  background-color: var(--white-color);
  border-radius: var(--border-radius-m);
}

.food-section {
  display: flex;
  width: 100%;
  margin-bottom: 20px; /* optional spacing between sections */
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

h1 {
  text-align: center;
  color: var(--secondary-color);
  font-family: Yeshuah;
  src: url(../Font/Yeshuahየሹዋ.ttf);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-n);
}

.food {
  height: 15px;
  width: 130px;
  margin: 30px 15px 0;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-m);
}

.food h3 {
  color: white;
  padding-top: 2px;
  padding-bottom: 10px;
  text-align: center;
  font-family: Ethiopic Hiwua;
  src: url(../Font/Hiwuaslህዋ.ttf);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-m);
}

.price {
  margin: 0 15px 15px;
}

.price h4 {
  padding-top: 6px;
  width: 100%;
  color: var(--white-color);
  font-family: Nokia Pure Headline;
  src: url(../Font/NokiaPureHeadlineኖኪያ.ttf);
  font-weight: var(--font-weight-bold);
  font-size: 0.57rem;
  line-height: 1;
}

.nameEN {
  color: #f0e67ac9;
}

.pic {
  width: 100%;
}

.pic img {
  width: 100%;
  margin-top: 18px;
}

@media (min-width: 370px) {
  .title {
    height: 4px;
    width: 65px;
  }
  h1 {
    font-size: var(--font-size-ml);
  }
  .food {
    height: 20px;
    width: 150px;
  }
  .food h3 {
    padding-top: 3px;
    font-size: var(--font-size-n);
  }
  .price h4 {
    padding-top: 8px;
    font-size: 0.67rem;
  }
}

@media (min-width: 410px) {
  .title {
    height: 5px;
    width: 80px;
  }
  h1 {
    font-size: var(--font-size-l);
  }
  .food {
    height: 23px;
    width: 170px;
    margin: 30px 25px 0;
  }
  .food h3 {
    font-size: 1.1rem;
  }
  .price h4 {
    padding: 10px 0 0 8px;
    font-size: 0.77rem;
  }
}

@media (min-width: 510px) {
  .title {
    height: 7px;
    width: 95px;
  }
  h1 {
    font-size: var(--font-size-xl);
  }
  .food {
    height: 26px;
    width: 200px;
  }
  .food h3 {
    font-size: var(--font-size-ml);
  }
  .price h4 {
    padding-top: 12px;
    font-size: var(--font-size-n);
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 2.3rem;
  }
  .food {
    height: 30px;
    width: 250px;
    margin: 55px 40px 0;
  }
  .food h3 {
    font-size: var(--font-size-xl);
  }
  .price h4 {
    padding: 20px 0 0 20px;
    font-size: 1.4rem;
  }
}
